.TimesheetEditor {
  display: grid;
  grid-template-rows: auto 1fr auto;

  width: 100%;
  height: 100%;

  &_Header {
    display: flex;
    justify-content: start;

    border-top: 1px solid #666;

    padding: 0 24px;
  }

  &_Footer {
    display: flex;
    justify-content: end;

    border-top: 1px solid #666;

    padding: 0 24px;
  }
}
